* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
   overflow: hidden;

  }
  .heading{
      font-family: 'Montserrat';
    color:gray;
      font-size: 2rem;
      text-align: center;
  }
  button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background:rgb(81, 223, 233);
    cursor: pointer;
    border-radius: 500px;
  }
  
  .login {
    width: 100%;
    min-height: 90vh;
    padding: 0 20px;

    display: flex;
  }
  
  .login .loginContainer {
    padding: 60px;
    margin:5px auto ;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    opacity: 1 ;
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  }
  .img-wrapper{
    text-align: center;
  }
  
  .login .loginContainer label {
    color:gray ;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
    text-align: center;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 1px;
    background: rgba(100, 100, 100, 0.1);
    color: black;
    letter-spacing: 1px;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
    
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
  }
  
  .login .loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .login .loginContainer .btnContainer p span:hover {
    color: red;
  }
  
  .login .loginContainer .errorMsg {
    color: red;
    font-size: 16px;
  }
  
  
  .skip{
      display: flex;
      justify-content: space-between;
    
  }
  .divider{
     background-color:rgb(209, 218, 232);
     font-family: 'cen ';
  }
  .skipbtn{
     border-radius: 500px;
     background-color: crimson;
  }
  .hintbtn{
    background-color: gold;
  }

