.nav{
    position: fixed;
    top:0;
    width:100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    z-index:1;
}

.logo{
    font-size: 30px;
    font-family: 'Oswald';
    COLOR:white;
}
.nav-wrapper{
    color:black;     
    font-family: "Comfortaa";
}
.sidenav-close{
    font-family: "Montserrat";
    font-size: 20px;    
}
.sidenav-trigger
{
    color:white;
    cursor: pointer;
}
li{
    color:black;
}